{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="presentacion about">
<h1>Sobre esta pagina</h1>
<p><b>Consigna:</b></p> 
<span> Implemente Modificación y Baja de los registros del sistema de turnos. Dichas acciones deben ser visualmente integradas en la tabla de turnos pedidos realizada en el TP2</span>
</div>
{% endblock %}
