{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div class="presentacion about">
<h1>Sobre esta pagina</h1>
<p><b>Consigna:</b></p>
<span>Extienda el sistema de gestión de turnos médicos para que los datos sean persistidos sobre una base de datos. La generación del número de turno debe hacerse vía motor de base de datos. ¿Qué cambios hubo que realizar para la generación del id?</span>
</div>
{% endblock %}
